<!-- Sidebar  -->
<nav id="sidebar" [ngClass]="showSidebar ? 'active' : ''">
    
    <div id="dismiss">
        <button type="button" class="close" aria-label="Close" (click)="onCloseSideNav()"> 
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <a (click)="onCloseSideNav()"><i class="fas fa-times" ></i></a> -->
    </div>
    <div class="sidebar-header">
        <h4>Employee Management</h4>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Admin
            </a>
            <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                    <a routerLink="/admin/onboard/employee">Onboard Employee</a>
                </li>
                <li>
                    <a routerLink="/admin/list/employee">Manage Employees</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>




